<div class = "edit-account-details">
  <h1>Account Settings</h1>

  <% if flash[:error] %>
    <% flash[:error].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <%= form_for(@user) do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit "Save Settings" %>
  </p>
<% end %>
<br>
<%= button_to "Delete My Account", user_path(@user), method: :delete %>

</div>
