<h1>Sign up for a new Account</h1>
<%= form_for :user, url: users_path do |f| %>

  <% if flash[:error] %>
    <% flash[:error].each do |error| %>
      <p style="color: red"><%= error %></p>
    <% end %>
  <% end %>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit "Sign Up" %>
  </p>



<% end %>
