<%= form_for :email, url: plans_email_path, html: {id: "new_study_plan"} do |f| %>
 <div class="row">
    <form method="post" action="/plans/email">
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :email %>
          <%= f.label :email, 'Your Email:' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :subject %>
          <%= f.label :subject, 'Email Subject:' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :body %>
          <%= f.label :body, 'Email Body:' %>
        </div>
      </div>
    </form>
  </div>
<% end %>
