<h1><%= @plan.name %></h1>

<div class = "edit-plan-details">
  <h3>Edit plan details</h3>
  <%= form_for(@plan) do |f| %>
  <p>
    <%= f.label :frequency %><br>
    <%= f.text_field :frequency %>
  </p>

  <p>
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
  </p>

  <p>
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<br>
<%= button_to "Delete This Plan", plan_path(@plan), method: :delete %>
</div>
