<h2 class="paytone-one">Edit Plan Details</h2>

<br>

<div class = "edit-plan-details">

  <% if flash[:error] %>
    <p class='error'><%= flash[:error] %></p>
    <%= flash[:error]="" %>
  <% end %>

  <%= form_for(@plan) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :frequency %><br>
      <%= f.text_field :frequency %>
    </p>

    <p>
      <%= f.label "Notify me by:" %><br>
      <div id="twilio_checkbox" class="switch">
          <%= f.check_box :twilio, {}, "t", "f" %><%= f.label :twilio, "SMS Message" %>
      </div>
      <div  class="switch">
          <%= f.check_box :sendgrid, {}, "t", "f" %><%= f.label :sendgrid, "E-mail" %>
      </div>
    </p>

    <br>

    <div id="twilio_form">
      <div class="row" id="twilio-dropdown">
        <div class="input-field col s12">
          <%= f.text_field :phone_number %>
          <%= f.label :phone_number, 'Your Phone Number:' %>
        </div>
      </div>
    </div>

    <div id="sendgrid_form">
      <div class="row" id="sendgrid-dropdown">
        <div class="input-field col s12">
          <%= f.text_field :email %>
          <%= f.label :email, 'Your Email:' %>
        </div>
      </div>
    </div>

    <br>

    <p>
      <%= button_tag( :class => "btn waves-effect waves-light") do %>
        Save Changes <i class="material-icons right"></i>
      <% end %>
    </p>
  <% end %>

  <br>

  <%= form_tag(plan_path(@plan), :method => :delete) do %>
    <%= button_tag( :class => "btn waves-effect waves-light") do %>
      Delete Plan <i class="material-icons right"></i>
    <% end %>
  <% end %>

  <br>

</div>
