<!-- <form id="github-search" method="get" action="plans">
  Enter your topic: <input name="topic" type="text"><br>
  Enter your language: <input name="language" type="text"><br>
  <input value="submit this" type="submit">

  <div id="github-search-stuff">
  </div> -->
<!--
</form> -->

<h1>Create a New Study Plan</h1>
<%= form_for :plan, url: plans_path do |f| %>
  <p>
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
  </p>

  <p>
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </p>

  <p>
    <%= f.label "Notify me by:" %><br>
    <div class="switch">
        <%= f.check_box :twilio, {}, "t", "f" %><%= f.label :twilio, "SMS Message" %>
    </div>

    <div class="switch">
        <%= f.check_box :sendgrid, {}, "t", "f" %><%= f.label :sendgrid, "E-mail" %>
    </div>
  </p>

  <p>
    <%= button_tag( :class => "btn waves-effect waves-light") do %>
      Create <i class="material-icons right"></i>
    <% end %>
  </p>
<% end %>
