<h1>Plans#show</h1>
<p>Find me in app/views/plans/show.html.erb</p>

<% i = 0 %>

<% while i < @plan.repos.length %>
  <hr>
    <ul>
      <li><b>name: </b><%= @plan.repos[i]['name'] %></li>
      <li><b>user: </b><%= @plan.repos[i]['user'] %></li>
      <li><b>created: </b><%= @plan.repos[i]['created'] %></li>
      <li><b>updated: </b><%= @plan.repos[i]['updated'] %></li>
      <li><b>pushed: </b><%= @plan.repos[i]['pushed'] %></li>
      <li><b>watchers: </b><%= @plan.repos[i]['watchers'] %></li>
      <li><b>url: </b><%= @plan.repos[i]['url'] %></li>
      <li><b>stars: </b><%= @plan.repos[i]['stars'] %></li>
      <li><b>forks: </b><%= @plan.repos[i]['forks'] %></li>
      <li><b>size: </b><%= @plan.repos[i]['size'] %></li>
      <li><b>desc: </b><%= @plan.repos[i]['desc'] %></li>
    </ul>
    <% i += 1 %>
<% end %>


<!-- # <% current_user.plans.each do |plan| %>
#   <%= plan.repos.each do |repo| %>
#     <ul>
#       <hr>
#       <li><b>Name: </b><%= repo.name %></li>
#       <li><b>User: </b><%= repo.user %></li>
#       <li><b>Created: </b><%= repo.created %></li>
#       <li><b>Updated: </b><%= repo.updated %></li>
#       <li><b>Pushed: </b><%= repo.pushed %></li>
#       <li><b>Watchers: </b><%= repo.watchers %></li>
#       <li><b>URL: </b><%= repo.url %></li>
#       <li><b>Stars: </b><%= repo.stars %></li>
#       <li><b>Forks: </b><%= repo.forks %></li>
#       <li><b>Size: </b><%= repo.size %></li>
#       <li><b>Desc: </b><%= repo.desc %></li>
#       <hr>
#     </ul>
#   <% end %>
# <% end %> -->
