<h1><%= @plan.name %></h1>
<%= link_to "Edit Plan", edit_plan_path(@plan) %>

<div id="current_cards_box">
  <% @current_cards.each do |card| %>
    <hr>
      <ul>
        <li><b>name: </b><%= card['name'] %></li>
        <li><b>user: </b><%= card['user'] %></li>
        <li><b>created: </b><%= card['created'] %></li>
        <li><b>updated: </b><%= card['updated'] %></li>
        <li><b>pushed: </b><%= card['pushed'] %></li>
        <li><b>watchers: </b><%= card['watchers'] %></li>
        <li><b>url: </b><%= card['url'] %></li>
        <li><b>stars: </b><%= card['stars'] %></li>
        <li><b>forks: </b><%= card['forks'] %></li>
        <li><b>size: </b><%= card['size'] %></li>
        <li><b>desc: </b><%= card['desc'] %></li>
      </ul>
  <% end %>
</div>

<div id="cards_divider">
  <p id="prev_cards_button">Previous Cards</p>
  <hr>
</div>

<div id="prev_cards_box">
  <% @prev_cards.each do |card| %>
    <hr>
      <ul>
        <li><b>name: </b><%= card['name'] %></li>
        <li><b>user: </b><%= card['user'] %></li>
        <li><b>created: </b><%= card['created'] %></li>
        <li><b>updated: </b><%= card['updated'] %></li>
        <li><b>pushed: </b><%= card['pushed'] %></li>
        <li><b>watchers: </b><%= card['watchers'] %></li>
        <li><b>url: </b><%= card['url'] %></li>
        <li><b>stars: </b><%= card['stars'] %></li>
        <li><b>forks: </b><%= card['forks'] %></li>
        <li><b>size: </b><%= card['size'] %></li>
        <li><b>desc: </b><%= card['desc'] %></li>
      </ul>
  <% end %>
</div>

<script type="text/javascript" src="js/plans.js"></script>
