<h2 class="paytone-one"><%= @plan.name %></h2>

<%= form_tag(edit_plan_path(@plan), :method => :get) do %>
  <%= button_tag( :class => "btn waves-effect waves-light") do %>
    Edit Plan <i class="material-icons right"></i>
  <% end %>
<% end %><br>
<div id="demo_box">
  <%= form_tag('/plans/demo') do -%>
    <%= hidden_field_tag('plan_id', value = @plan.id) %>
    <%= button_tag "Demo", class: "btn waves-effect waves-light" %>

  <!-- <form id="demo_form" action="/plans/demo" method="post">
    <input type="hidden" name="plan_id" value="<%= @plan.id %>" />
    <input type="submit" id="demo_button" class="btn waves-effect waves-light" value="Demo" />
  </form> -->
  <% end -%>
</div>
<br>

<div id="current_cards_box">
  <% @current_cards.each do |card| %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <ul>
            <li><a href="<%= card['url'] %>" target="_blank"><h2><b><%= card['name'] %></b></h2></a>
              <a href="https://www.github.com/<%= card['user'] %>" target="_blank"><i class="fa fa-github"></i> <%= card['user'] %></a>&nbsp;&nbsp;
              <a href="<%= card['url'] %>/stargazers" target="_blank"><i class="fa fa-star"></i> <%= card['stars'] %></a>&nbsp;&nbsp;
              <a href="<%= card['url'] %>/network" target="_blank"><i class="fa fa-code-fork"></i> <%= card['forks'] %></a>
            </li>
            <li><br></li>
            <li><b>Description: </b><%= card['desc'] %></li>
            <li class="small">Last updated: <%= time_ago_in_words(card['updated']) %> ago.</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="<%= card['url'] %>" target="_blank">View on Github</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @prev_cards.count > 0 %>

  <div id="cards_divider">
    <br>
    <button id="prev_cards_show_button" class="btn waves-effect waves-light">Show Previous Cards</button>
    <button id="prev_cards_hide_button" class="btn waves-effect waves-light">Hide Previous Cards</button>
  </div>

<% end %>

<div id="prev_cards_box">
  <% @prev_cards.each do |card| %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <ul>
            <li><a href="<%= card['url'] %>" target="_blank"><h2><b><%= card['name'] %></b></h2></a>
              <a href="https://www.github.com/<%= card['user'] %>" target="_blank"><i class="fa fa-github"></i> <%= card['user'] %></a>&nbsp;&nbsp;
              <a href="<%= card['url'] %>/stargazers" target="_blank"><i class="fa fa-star"></i> <%= card['stars'] %></a>&nbsp;&nbsp;
              <a href="<%= card['url'] %>/network" target="_blank"><i class="fa fa-code-fork"></i> <%= card['forks'] %></a>
            </li>
            <li><br></li>
            <li><b>Description: </b><%= card['desc'] %></li>
            <li class="small">Last updated: <%= time_ago_in_words(card['updated']) %> ago.</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="<%= card['url'] %>" target="_blank">View on Github</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript" src="js/plans.js"></script>
